.DaysOfWeek {
  width: 708px;
  height: 40px;
  margin: 5px auto;
  display: flex;
    background-color: #009688;
    border-radius: 5px;
}

.Day {
  display: inline-block;  
  height: 20px;
  width: 100px;
  margin-top: 9px;  
  font-size: 1.4em;
  justify-content: space-between;
  text-align: center;
  border-collapse: collapse;
  color:white;
}
